<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>J&J Smart Offices</title>
  </head>
  <body>
    <h1>J&J Brick Shippers Smart Offices</h1>

    <h2>Get Climate Readings on the Hour</h2>
    <p>Climate Service Address:</p>
    <p><%= address %></p>
  </body>
  <style>
    body {
      height: 100vh;
      width: 100%;
    }
    h1 {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  </style>
</html>
